{{header}}
<h1>Las Recetas de la Abuela</h1>
<h2>Product List</h2>
<div class="lista-productos" id="listaProductos">

</div>

<form>
  <label for="title">Title</label>
  <input type="text" id="form-title" />
  <label for="">State</label>
  <select id="form-select">
    <option value="true">True</option>
    <option value="false">False</option>
  </select>
  <label>category</label>
  <input type="text" id="form-category" />
  <label>description</label>
  <input type="text" id="form-description" />
  <label>price</label>
  <input type="text" id="form-price" />
  <label>thumbnail</label>
  <input type="text" id="form-thumbnail" />
  <label>code</label>
  <input type="text" id="form-code" />
  <label>stock</label>
  <input type="number" id="form-stock" />

  <button id="submit-button">Enviar</button>
</form>